.section-ft {
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}


.ft-inner {
    max-width: 1600px;
    width: 100%;
    display: flex;
    gap: 30px;
    padding-top: 30px;
    padding-bottom: 40px;
    position: relative;
}

.ft-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.policy {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: flex-start;
}

.contact {
    display: flex;
    gap: 30px;
}

.company-meta {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    column-gap: 8px;
    row-gap: 5px;
}

.company-info {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.office {
    display: flex;
    gap: 8px;
}

.off-detail {
    display: flex;
    column-gap: 8px;
}