#fullpage {
    max-width: 1920px;
    width: 100%;
}

.section {
    width: 100%;
    height: 100%;
}

.section:nth-child(1) {
    background: rgb(243, 120, 141);

}

.section:nth-child(2) {
    background: pink;

}

.section:nth-child(3) {
    background: rgb(53, 30, 120);

}

.section1 {
    width: 100%;
    overflow: hidden;
}

.swiper {
    width: 100%;
    height: 100%;
    position: relative;
}

.swiper-slide {
    width: 100%;
    height: 100%;
    overflow: hidden;

    .img-wrap {
        height: 100%;
    }
}

.visual-content {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    color: #fff;
}


.visual-inner {
    h2 {
        font-size: 50px;
        font-weight: bold;
        text-align: left;
    }

    p {
        font-size: 25px;
        margin-bottom: 40px;
        text-align: left;
    }

    a {
        font-size: 17px;
        line-height: 20px;
        text-align: left;
        color: #fff;
        display: block;
        width: 120px;
        border: 2px solid #fff;
        border-radius: 20px;
        padding: 10px 20px;
        position: relative;
    }
}