#fullpage {
    // max-width: 1920px;
    width: 100%;
    position: relative;
}

.fp-warning,
.fp-watermark {
    display: none;
}



.section {
    width: 100%;
    height: 100%;
}


.section1 {
    overflow: hidden;
}

.swiper {
    width: 100%;
    height: 100%;
    position: relative;
}

.swiper-slide {
    width: 100%;
    height: 100%;
    overflow: hidden;

    .img-wrap {

        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.visual-content {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.visual-inner {
    max-width: 1600px;
    width: 100%;

    h2 {
        font-weight: 500;
        font-size: 50px;
        text-align: left;
    }

    p {
        font-size: 25px;
        margin-bottom: 40px;
        text-align: left;
    }

    a {
        font-size: 17px;
        line-height: 20px;
        text-align: left;
        color: #fff;
        display: block;
        width: 120px;
        border: 2px solid #fff;
        border-radius: 20px;
        padding: 10px 20px;
        position: relative;

        span {
            display: inline-block;
            -webkit-animation-name: point;
            -webkit-animation-duration: 3s;
            animation-name: point;
            animation-duration: 3s;
            animation-iteration-count: infinite;
            width: 180px;
            position: absolute;
            bottom: 10px;
            left: 75px;
        }
    }

    a:hover {
        background-color: #856f50a4;
    }

}



@keyframes point {
    0% {
        left: 75px;
    }

    50% {
        left: 90px;
    }

    100% {
        left: 75px;
    }
}

.section2 {

    p {
        font-size: 25px;
        font-weight: 500;
    }



}


.service-item {
    width: 100%;
    height: 100%;
    position: relative;

    .icon {
        border-radius: 50%;
        background-color: rgba(232, 232, 232, 0.1411764706);
        width: 120px;
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .icon img {
        height: 100%;
    }

    .icon-consulting {
        padding: 22px;
    }

    .icon-case {
        padding: 22px;

        img {
            margin-left: 9px;
        }
    }

    .icon-outsourcing {
        padding: 35px;

        img {
            margin-left: 3px;
        }
    }

    .icon-safety {
        padding: 28px;

        img {
            margin-left: 2px;
        }
    }
}

.service-item::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.37);
    transition: all 0.3s ease;
}

.service-item:hover::before {
    background-color: rgba(0, 0, 0, 0);
}

.service-item:hover .icon {
    background-color: #1e29489f;
    background-color: #856f50a4;

    box-shadow: 1px 1px 20px #ffffffcc;
}



.svc-card {
    width: 100%;
    height: 100%;

}

.svc-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    color: #fff;
}


.service-list {
    display: flex;
    width: 100%;
    height: 100%;
}





.service-item:nth-child(1) {
    background: url(/images/m_sec2-1.png) no-repeat 25% 50%;
    background-size: cover;

}

.service-item:nth-child(2) {
    background: url(/images/m_sec2-2.png) no-repeat 25% 50%;
    background-size: cover;

}

.service-item:nth-child(3) {
    background: url(/images/m_sec2-3.png) no-repeat;
    background-size: cover;

}

.service-item:nth-child(4) {
    background: url(/images/m_sec2-4.png) no-repeat 52% 50%;
    background-size: cover;

}

.section3 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(/images/m_sec3.png) no-repeat;
    background-size: cover;
}

.about-content {

    width: 100%;
    height: 50%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h4 {
        font-size: 25px;
    }
}

.about-list {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

.section-head {
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    h2 {
        font-size: 50px;
        font-weight: 600;
    }

    p {
        font-size: 25px;
    }
}


.about-item {
    max-width: 300px;
    width: 100%;
    height: 230px;
    // transition: all 0.2s ease;

    .icon img {
        display: block;
    }




}




.about-item:hover {
    border: 2px solid #fff;
}

.about-item:hover .icon img {
    display: none;
}

.about-item:hover span {
    display: block;
    margin-bottom: 15px;
}

.about-card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    gap: 15px;



    .icon1 img {
        height: 75px;

    }

    .icon3 img {
        height: 70px;

    }

    span {
        display: none;
        font-size: 20px;
        border: 2px solid #fff;
        padding: 5px 20px;
        border-radius: 25px;
        // background-color: rgba(30, 41, 72, 0.6235294118);
        background-color: #856f50a4;

    }
}